
<%- include("./partials/header") -%>

<h1>COMPOSE A NEW POST</h1>
<form action="/" method="post">
    <input type="text" name="postdata" id="postdata">
    <button type="submit">Submit</button>
</form>

<%- include("./partials/footer") -%>