<%- include("./partials/header") -%>
<h1>COMPOSE A NEW POST</h1>
<form action="/" method="post">
    <div class="form-group" >
    <label for="">Post Title</label>
    <input class="form-control" type="text" name="posttitle" id="postdata">
    <label for="">Post</label>
    <textarea class="form-control" name="postdetails" id="postdetails" cols="30" rows="5"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>
<%- include("./partials/footer") -%>